:root {
  --main: #488bff;
  --secondary: #434656;
  --light: #f4faff;
  --alternative: #f65474;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #252525;
}

h2 {
  color: var(--main);
  text-align: center;
  font-size: 48px;
  letter-spacing: 0.15rem;
  margin: 1.5rem 0rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 2rem 5rem;
}

#form {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

#form label {
  font-size: 0.8rem;
  color: var(--secondary);
  margin-bottom: 4px;
}

#form input {
  border: none;
  background-color: var(--light);
  padding: 0.8rem;
  border-radius: 0.5rem;
  color: var(--main);
}

#form div {
  display: flex;
  flex-direction: column;
}

#button {
  border-color: var(--alternative);
  border-radius: 24px;
  border-width: 2.5px;
  border-style: solid;
  background: transparent;
  color: var(--alternative);
  font-weight: bold;
  font-size: 14px;
  height: 40px;
  width: 160px;
  transition: all 600ms;
}

#button:hover {
  background-color: var(--alternative);
  color: white;
  transform: scale(1.05);
  border: none;
}

#response {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: var(--light);
  width: 250px;
  height: 150px;
  padding: 10px;
}

.btn-container {
  width: 70%;
  display: flex;
  gap: 10px;
}

.form-wrapper {
  position: relative;
}

h3 {
  margin-bottom: 20px;
}

#message {
  position: absolute;
  color: #f65474;
  font-weight: 700;
  opacity: 1;
}

.animation-fade {
  animation: fade-in 1s linear;
}

.animation-fade-out {
  animation: fade-out 1s linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.card-wrapper > p {
  margin: 0px;
  text-wrap: pretty;
}

.payments-container {
  display: flex;
  width: 100%;
  padding: 0 30px;
  flex-direction: column;
}

#payments {
  margin: 60px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
}

.payment-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: var(--light);
  width: 350px;
  padding: 10px;
}
.payment-card > p {
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 10px;
}
